# Core frameworks
transformers==4.38.2
peft==0.9.0
datasets==2.17.1
torch==2.1.2+cu121
sentence-transformers==2.3.1
rank_bm25==0.2.2
chromadb==0.4.22

-------------
scikit-learn
numpy
matplotlib
seaborn
tqdm
pickle
pandas

# Utilities
uuid
typing
json
os

